    $primary: #005FAB;
    $blue-active:#2F2F5E;
    $orange:#F27C00;
    $overlay: rgba(0, 0, 0, 0.3);
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #body {
        font-family: 'Cairo', sans-serif;
    }
    /* UTILITES */

    a {
        text-decoration: none;
    }

    .line {
        height: 1px;
        background: #fff;
        width: 100%;
    }

    .margin {
        margin-top: 110px;
    }

    .display-n {
        display: none;
    }

    .display-b {
        display: block;
        transition: all 1s ease;
        animation: animate1 1s;
        -webkit-animation: animate1 1s;
    }

    .animation_chalets {
        transition: all 1s ease;
        animation: animate1 1s;
        -webkit-animation: animate1 1s;
    }

    img {
        width: 100%;
    }

    .rating {
        margin-right: 4rem;
        margin-top: 1rem;
        span {
            margin-right: 1rem;
        }
        label {
            z-index: 2
        }
        .cos {
            color: #ddd;
            font-size: 1.5rem;
            margin-left: .7rem;
        }
        input {
            visibility: hidden;
            margin-left: -1rem;
        }
    }
    /* images */

    .back-1 {
        background: url(../images/top/architecture-1477041_1280.jpg) no-repeat center center/cover;
    }

    .back-2 {
        background: url(../images/top/cayetano-gros-ONea6ruvc50-unsplash.jpg) no-repeat center center/cover;
    }

    .back-3 {
        background: url(../images/top/fran-hogan-lloSQSgdoyE-unsplash.jpg) no-repeat center center/cover;
    }

    .back-4 {
        background: url(../images/top/ralph-ravi-kayden-2d4lAQAlbDA-unsplash.jpg) no-repeat center center/cover;
    }

    .back-5 {
        background: url(../images/120134045_3320463314741950_3033146927499492343_n.jpg) no-repeat center center/cover;
    }

    .back-6 {
        background: url(../images/top/ralph-ravi-kayden-2d4lAQAlbDA-unsplash.jpg) no-repeat center center/cover;
    }
    /* navbar */

    .navbar {
        .profile-image {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid #09B5B5;
        }
        .logo-image {
            height: 60px;
            width: 110px;
        }
    }
    /* Showcase */

    #showcase {
        position: relative;
        background: url(../images/show1.jpg) no-repeat center center/cover;
        height: 100vh;
        .primary-overlay {
            position: absolute;
            background: $overlay;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        h1 {
            font-weight: bold;
            color: $primary;
            font-size: 3rem;
            span {
                color: #eee;
            }
        }
        p {
            width: 50%;
            color: #fff;
        }
        input {
            width: 500px;
            border-radius: 5px;
            border: 2px solid #f4f4f4;
            opacity: 0.5;
            padding: 0.5rem 0.75rem;
            color: #000;
            &:focus {
                outline: none;
                border-color: $primary;
            }
        }
        .btn {
            background: $primary;
            color: #fff;
            padding: 0.75rem 1.25rem;
            border-radius: 5px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    /* Provide */

    #provide {
        .boxes {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 4rem;
            color: #fff;
            .card {
                border: none;
            }
        }
    }
    /* Toprated */

    #toprated {
        background: url(../images/topreated.png) no-repeat center center/cover;
        padding-bottom: 1rem;
        .part-2 {
            .text {
                margin: 0 7.5rem;
                p {
                    padding-left: 4rem;
                }
            }
            .box {
                width: 250px;
                box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                overflow: hidden;
                margin: 1rem 0.75rem;
                height: 280px;
                .overlay {
                    height: 100%;
                    width: 100%;
                    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 95, 171, 1));
                    .flex-boxes {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;
                        text-align: center;
                        height: 100%;
                        width: 100%;
                        color: #fff;
                    }
                    .stars {
                        color: #FFD700;
                    }
                    a {
                        border-radius: 30px;
                        color: $primary;
                        margin-top: 0.5rem;
                        transition: all 0.5s ease;
                        &:hover {
                            transform: scale(1.1, 1.1);
                        }
                    }
                    .price {
                        color: #03FF46;
                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    /* FEATURES */

    #features {
        .row {
            .col {
                color: #5364B7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                .circle {
                    border: 1px solid #5364B7;
                    width: 100px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 50%;
                    background: #C5E6F2;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
    /* OFFERS */

    #offers {
        .items {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .item-1 {
                flex: 1;
                color: #A500AB;
                border-color: #A500AB;
                margin-right: 2rem;
                .card-header {
                    border-color: #A500AB;
                }
                a {
                    background: #A500AB;
                    color: #fff;
                    transition: all 0.5s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .item-2 {
                flex: 1;
                margin-right: 2rem;
                .card-body {
                    background: #16598E;
                }
            }
            .item-3 {
                flex: 1;
                border-color: #09B5B5;
                color: #09B5B5;
                .card-header {
                    border-color: #09B5B5;
                }
                a {
                    background: #09B5B5;
                    color: #fff;
                    transition: all 0.5s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
            .card {
                .card-body {
                    p {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    /* #COMMENTS */

    #comments {
        .items {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 2rem;
            .img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                margin-top: -7rem;
                margin-right: -4rem;
                z-index: 2;
            }
            .face-1 {
                background: url(../images/faces/omid-armin--6OKJaCwZeM-unsplash.jpg) no-repeat center center/cover;
                border: 3px solid $primary;
            }
            .face-2 {
                background: url(../images/faces/parizad-shojaei-zdAPoZtQeSE-unsplash.jpg) no-repeat center center/cover;
                border: 3px solid #A500AB;
            }
            .face-3 {
                background: url(../images/faces/sigmund-jzz_3jWMzHA-unsplash.jpg) no-repeat center center/cover;
                border: 3px solid #0AB264;
            }
            .item {
                flex: 1;
                ;
                .right {
                    text-align: right;
                }
                .left {
                    text-align: left;
                }
            }
            .item-1 {
                background: #A500AB;
                margin-right: 1rem;
            }
            .item-2 {
                margin-right: 2rem;
            }
            .item-3 {
                background: #0AB264;
            }
        }
    }
    /* FOOTER */

    #main-footer {
        .row {
            .col-md-6 {
                p {
                    margin-right: 8rem;
                }
            }
            .contact {
                margin-right: 8rem;
                .form-control {
                    opacity: 0.6;
                }
                a {
                    background: #0B78CF;
                    color: #fff;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
        .footer-bottom {
            font-size: 0.8rem;
            color: rgb(177, 177, 177);
        }
    }
    /* PAGE 2 : CHALETS */
    /* HEADER */

    #header {
        margin-top: 115px;
        text-align: right;
        border-bottom: 2px solid #ddd;
    }
    /* FILTERING */

    #feltering {
        background: #EBF5FB;
        .row {
            .col-lg-5 {
                select {
                    display: block;
                    width: 70%;
                    padding: 0.3rem;
                    border-radius: 30px;
                    &:focus {
                        outline: none;
                        // border-color: $primary;
                        box-shadow: 3px 3px 10px 1px $primary;
                        ;
                    }
                }
            }
            .category {
                border: 1px solid #ddd;
                .nav-item {
                    border-left: 1px solid #ddd;
                    &:last-child {
                        border: none;
                    }
                    .nav-link:hover {
                        background: #81C2E4;
                    }
                    .active-1 {
                        background: #81C2E4;
                    }
                }
            }
        }
    }
    /* LISTS */

    #lists {
        .card {
            background: #EBF5FB;
            margin-bottom: 3rem;
            text-align: right;
            .list {
                display: grid;
                grid-template-columns: 5fr 4fr 3fr;
                img {
                    height: 100%;
                }
                .middle {
                    .card-body {
                        border-left: 1px #ddd solid;
                        h3 {
                            margin-bottom: 0.5rem;
                        }
                        p {
                            margin-bottom: 0.75rem;
                        }
                    }
                }
                .left {
                    text-align: center;
                    .card-body {
                        p {
                            margin-bottom: 0.75rem;
                        }
                        .links {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        a {
                            border-radius: 2rem;
                            background: #57869E;
                            transition: all 0.5s ease;
                            font-size: 1rem;
                            &:hover {
                                background: #42687b;
                                transform: scale(1.1, 1.1);
                                -webkit-transform: scale(1.1, 1.1);
                                -moz-transform: scale(1.1, 1.1);
                                -ms-transform: scale(1.1, 1.1);
                                -o-transform: scale(1.1, 1.1);
                            }
                        }
                    }
                }
            }
        }
    }
    /* RESERVATIONS */

    #reservations {
        .card {
            margin-right: 5rem;
            margin-left: 5rem;
            background: #EBF5FB;
            margin-bottom: 3rem;
            text-align: right;
            .list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                img {
                    height: 100%;
                }
                .middle {
                    .card-body {
                        border-left: 1px #ddd solid;
                        h3 {
                            margin-bottom: 0.5rem;
                        }
                        p {
                            margin-bottom: 0.75rem;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
                .left {
                    text-align: center;
                    .card-body {
                        p {
                            margin-bottom: 0.75rem;
                        }
                        a {
                            border-radius: 2rem;
                            transition: all 0.5s ease;
                            font-size: 1rem;
                        }
                        .blue-bt {
                            background: #57869E;
                            color: #fff;
                            &:hover {
                                background: #42687b;
                            }
                        }
                    }
                }
            }
        }
    }
    /* PAGE 3 DETAILES */
    /* IMAGE SLIDER */

    .slider-images img {
        height: 500px;
        width: 100%;
    }
    /* DETAILES */

    #detailes {
        .row {
            .d-head {
                p {
                    margin-bottom: 0.5rem;
                }
            }
            .d-body {
                // width: 80%;
                margin-left: 4.5rem;
            }
            .card-sec {
                border-radius: 15px;
                width: 90%;
                .head {
                    a {
                        padding: 0.75rem 1.25rem;
                        text-decoration: none;
                        border-bottom: 2px #707070 solid;
                        color: #707070;
                        &:hover {
                            border-color: #0B78CF;
                            color: #0B78CF;
                        }
                        &.active {
                            border-color: #0B78CF;
                            color: #0B78CF;
                        }
                    }
                }
            }
            .content {
                padding: 3rem;
                .item {
                    padding: 1.5rem 0;
                    border-bottom: 1.5px #ddd solid;
                    &:last-child {
                        border: none;
                    }
                    a {
                        color: #333;
                    }
                    .cont {
                        p {
                            padding-bottom: 0.5rem;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            .bad {
                .calendar {
                    color: #fff;
                    height: 420px;
                    background-color: #2F2F5E;
                    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
                    .month {
                        width: 100%;
                        height: 5rem;
                        background-color: #2F2F5E;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 2rem;
                        text-align: center;
                        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                        i {
                            font-size: 1.5rem;
                            cursor: pointer;
                        }
                        h1 {
                            font-size: 1.5rem;
                            font-weight: 400;
                            text-transform: uppercase;
                            letter-spacing: 0.2rem;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                    .weekdays {
                        width: 100%;
                        height: 5rem;
                        padding: 0 0.4rem;
                        display: flex;
                        align-items: center;
                        div {
                            font-size: 1rem;
                            font-weight: 400;
                            letter-spacing: 0.1rem;
                            width: calc(44.2rem / 7);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                        }
                    }
                    .days {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0.2rem;
                        div {
                            font-size: 1rem;
                            margin: 0.3rem;
                            width: 3.1rem;
                            height: 2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
                            transition: background-color 0.2s;
                            border-radius: 20%;
                            &:hover:not(.today) {
                                background-color: #4EBBE3;
                                cursor: pointer;
                            }
                        }
                    }
                    .prev-date,
                    .next-date {
                        opacity: 0.5;
                    }
                    .today {
                        background-color: #4EBBE3;
                    }
                }
            }
        }
        #featuers {
            display: none;
        }
        #featuers.show-change {
            display: block;
            transition: all 1s ease;
            animation: animate1 1s;
            -webkit-animation: animate1 1s;
        }
        #rated.remove {
            display: none;
        }
        #rated {
            transition: all 1s ease;
            animation: animate1 1s;
            -webkit-animation: animate1 1s;
            .card-body {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-gap: 1rem;
                .image {
                    margin-top: .5rem;
                    height: 100px;
                    width: 100px;
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .stars {
                font-size: 1.3rem;
                color: #FFC107;
                a {
                    font-size: 1.5rem;
                    color: #ddd;
                    margin-left: .7rem;
                    text-decoration: none;
                }
            }
            .btn {
                background: #2F2F5E;
                color: #fff;
                &:hover {
                    background: #fff;
                    color: #2F2F5E;
                    border-color: #2F2F5E;
                }
            }
            .form-group {
                textarea {
                    width: 100%;
                    border: 1px #ddd solid;
                    padding: 1rem;
                    color: #777;
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    &:focus {
                        outline: none;
                        box-shadow: 1px 1px 8px 0.5px #2F2F5E;
                    }
                }
            }
        }
        #map {
            display: none;
            &.show-map {
                display: block;
                transition: all 1s ease;
                animation: animate1 1s;
                -webkit-animation: animate1 1s;
            }
        }
        .booking {
            padding: 0 0.5rem;
            p {
                font-size: 1.1rem
            }
            .card {
                border-radius: 15px;
                .header {
                    color: #2B7E28;
                }
                .b-bottom {
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        border: none;
                    }
                }
                .head {
                    display: flex;
                    border-bottom: 1px #ddd solid;
                    .date {
                        flex: 1;
                        padding: 1rem;
                        text-align: center;
                    }
                    .date-inter {
                        border-left: 1px #ddd solid
                    }
                }
                .btn {
                    background: #2F2F5E;
                    color: #fff;
                    border-radius: 30px;
                    font-size: 1.1rem;
                    &:hover {
                        background: #fff;
                        color: #2F2F5E;
                        border-color: #2F2F5E;
                    }
                }
            }
        }
    }
    /* LOGIN AND RIGESTER */
    /* LOGIN */

    #login {
        line-height: 1.5;
        .container {
            max-width: 800px;
            margin: 50px auto;
            .cover {
                background: #81C2E4;
                .space {
                    padding: 1.3rem 2rem;
                    .row {
                        .left {
                            background: url(../images/1617560435606.jpg) no-repeat center center/cover;
                        }
                        .left-1 {
                            background: url(../images/1617560435631.jpg) no-repeat center center/cover;
                        }
                        .right {
                            padding: 3rem;
                            border-left: 1px #ddd solid;
                            p {
                                font-size: 0.8rem;
                            }
                            .form-control {
                                border-radius: 20px;
                                background: #ddd;
                                border: 1px #81C2E4 solid;
                            }
                            .btn-log {
                                background: #027DF7;
                                color: #fff;
                                border-radius: 20px;
                                transition: all 0.5s ease;
                                &:hover {
                                    opacity: 0.8;
                                    transform: scale(1.1, 1.1);
                                }
                            }
                            .btn-outline-primary {
                                padding-right: 0.9rem;
                                padding-left: 0.9rem;
                            }
                        }
                        .profile {
                            border: none;
                            .img {
                                height: 200px;
                                width: 200px;
                                background: url(../imaaesges/faces/164362066_1056621994834986_7888147625418858566_n.jpg) no-repeat center center/cover;
                                border-radius: 50%;
                                border: 3px solid #81C2E4;
                                margin-right: 2rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    #profile {
        line-height: 1.5;
        .container {
            max-width: 800px;
            margin: 50px auto;
            .cover {
                background: #81C2E4;
                .space {
                    padding: 1.3rem 2rem;
                    .right {
                        padding: 3rem;
                        border-left: 1px #ddd solid;
                        p {
                            font-size: 0.8rem;
                        }
                        .form-control {
                            border-radius: 20px;
                            background: #ddd;
                            border: 1px #81C2E4 solid;
                        }
                        .btn-log {
                            background: #027DF7;
                            color: #fff;
                            border-radius: 20px;
                            transition: all 0.5s ease;
                            &:hover {
                                opacity: 0.8;
                                transform: scale(1.1, 1.1);
                            }
                        }
                        .btn-outline-primary {
                            padding-right: 0.9rem;
                            padding-left: 0.9rem;
                        }
                    }
                    .profile {
                        border: none;
                        margin: 0 8rem;
                        img {
                            height: 200px;
                            width: 200px;
                            border-radius: 50%;
                            border: 3px solid #81C2E4;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
    /* PAGE BOOKING */

    #showcase-book {
        background: linear-gradient(to right, rgba(152, 183, 207, 1), rgba(42, 115, 172, 1));
        height: 90vh;
        margin-bottom: 1rem;
        .container {
            padding: 1rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            color: #fff;
        }
    }
    /* BOOKING */

    #booking {
        line-height: 1.5;
        .container {
            max-width: 1200px;
            margin: 50px auto;
            .cover {
                .space {
                    padding: 1.3rem 2rem;
                    .row {
                        .left {
                            background: url(../im/17560435606.jpg) no-repeat center center/cover;
                        }
                        .left-1 {
                            background: url(../im/17560435631.jpg) no-repeat center center/cover;
                        }
                        .right {
                            padding: 3rem;
                            border-left: 1px #ddd solid;
                            p {
                                font-size: 0.8rem;
                            }
                            .form-control {
                                border-radius: 20px;
                                background: #ddd;
                                border: 1px #81C2E4 solid;
                            }
                            .btn-log {
                                background: #027DF7;
                                color: #fff;
                                border-radius: 20px;
                                transition: all 0.5s ease;
                                &:hover {
                                    opacity: 0.8;
                                    transform: scale(1.1, 1.1);
                                }
                            }
                            .btn-outline-primary {
                                padding-right: 0.9rem;
                                padding-left: 0.9rem;
                            }
                        }
                        .profile {
                            border: none;
                            .img {
                                height: 200px;
                                width: 200px;
                                background: url(../im/ces/parizad-shojaei-zdAPoZtQeSE-unsplash.jpg) no-repeat center center/cover;
                                border-radius: 50%;
                                border: 3px solid #81C2E4;
                                margin-right: 2rem;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* WIDESCREEN*/

    @media(max-width:992px) {
        .slider-images img {
            height: 350px;
        }
        #detailes {
            .row {
                .d-body {
                    margin-left: 0rem;
                    margin-bottom: 1.5rem;
                }
                .card-sec {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .content {
                    padding: 1rem;
                }
                .bad {
                    .calendar {
                        height: 710px;
                        .days {
                            div {
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                                margin: 1.7rem;
                            }
                        }
                    }
                }
            }
            #rated {
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }
            .booking {
                padding-right: 0;
                padding-left: 0;
                p {
                    font-size: 1rem
                }
            }
        }
    }

    @media(max-width:768px) {
        /* NAVBAR */
        .navbar {
            background: $primary;
            ul {
                text-align: center;
            }
        }
        /* SHOWCAE */
        #showcase {
            h1 {
                font-size: 2.5rem;
            }
            input {
                width: 250px;
                padding: 0.25rem 0.5rem;
            }
            .btn {
                padding: 0.6rem 1rem;
            }
            p {
                width: 80%;
                font-size: 1rem;
            }
        }
        #provide {
            .boxes {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 1rem;
            }
        }
        /* TOPRATED */
        #toprated {
            padding-bottom: 1rem;
            .part-2 {
                .text {
                    margin: 0 3rem;
                    p {
                        padding-left: 0;
                        font-size: 0.8rem;
                    }
                }
            }
        }
        /* FEATURES */
        #features {
            .row {
                .col {
                    .circle {
                        width: 85px;
                        height: 85px;
                        margin-bottom: 0.5rem;
                        font-size: 0.85rem;
                    }
                }
            }
        }
        /* OFFERS */
        #offers {
            .items {
                display: grid;
                grid-template-columns: 1fr;
                .item-1,
                .item-2 {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }
        }
        /* COMMENTS */
        #comments {
            .items {
                display: grid;
                grid-template-columns: 1fr;
                .img {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                    margin-top: 0;
                    margin-right: 0;
                    margin-bottom: -3.5rem;
                    z-index: 2;
                }
                .item-1,
                .item-2 {
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }
        }
        /* PAGE 2 : CHALETS */
        /* FILTERING */
        #feltering {
            .row {
                .col-lg-5 {
                    .form-group {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .category {
                    font-size: 0.8rem;
                }
            }
        }
        /* LISTS */
        #lists {
            .card {
                text-align: center;
                .list {
                    display: flex;
                    flex-direction: column;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                    .middle {
                        .card-body {
                            border-left: 1px #ddd solid;
                            h3 {
                                margin-bottom: 0.5rem;
                            }
                            p {
                                margin-bottom: 0.75rem;
                            }
                        }
                    }
                    .left {
                        .card-body {
                            .links {
                                display: block;
                            }
                            p {
                                display: none;
                            }
                            a {
                                display: inline-block;
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
        /* PAGE 3 DETAILS */
        /* IMAGE SLIDER */
        .slider-images img {
            height: 250px;
        }
        #detailes {
            .row {
                .d-body {
                    margin-left: 0rem;
                    margin-bottom: 1.5rem;
                }
                .card-sec {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .content {
                    padding: 1rem;
                }
                .bad {
                    .calendar {
                        height: 460px;
                        .days {
                            div {
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                                margin: 5px;
                            }
                        }
                    }
                }
            }
            #rated {
                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                }
            }
            .booking {
                padding-right: 0;
                padding-left: 0;
                p {
                    font-size: 1rem
                }
            }
        }
        /* PROFILE PAGE */
        #profile {
            .container {
                .cover {
                    .space {
                        padding: 0.75rem 1.25rem;
                        .right {
                            padding: 1rem;
                        }
                        .profile {
                            margin: 0;
                            img {
                                height: 150px;
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
        /* RESERVATIONS */
        #reservations {
            .card {
                margin: 0;
                text-align: center;
                margin-bottom: 1rem;
                .list {
                    display: flex;
                    flex-direction: column;
                    img {
                        height: 100%;
                    }
                    .middle {
                        border-bottom: 1px solid #ddd;
                    }
                    .left {
                        text-align: center;
                    }
                }
            }
        }
        /* BOOKING PAGE */
        #showcase-book {
            height: 50vh;
            .container {
                padding: 1rem;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                align-items: center;
            }
        }
        #booking {
            .container {
                .cover {
                    .space {
                        padding: 0 1rem;
                        .row {
                            .right {
                                padding: 0 1rem;
                                h3 {
                                    font-size: 1.5rem;
                                }
                            }
                            .profile {
                                border: none;
                                .img {
                                    height: 200px;
                                    width: 200px;
                                    background: url(../imaaesges/faces/parizad-shojaei-zdAPoZtQeSE-unsplash.jpg) no-repeat center center/cover;
                                    border-radius: 50%;
                                    border: 3px solid #81C2E4;
                                    margin-right: 2rem;
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        /* FOOTER */
        #main-footer {
            .row {
                .col-md-6 {
                    p {
                        margin-right: 0;
                    }
                }
                .contact {
                    margin-right: 0;
                }
            }
            .footer-bottom {
                font-size: 0.5rem;
            }
        }
    }

    @media(width:768px) {
        .slider-images img {
            height: 350px;
        }
        #detailes {
            .row {
                .bad {
                    .calendar {
                        height: 710px;
                        .days {
                            div {
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                                margin: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes animate1 {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
